/* .App {
  text-align: center;
} */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10rem;
  text-align: center;
}


.nav-active {
  color: grey;
  font-weight: bold;
}


.MuiTexField-root {
  padding-left: 50px;

}
.MuiCardMedia-root {
  padding-bottom: 40px;
}