body {
  background-color: rgb(237, 74, 74);
}

.nav-active {
  color: rgb(255, 0, 0);
}




.MuiPaper-root {
  margin: auto;
  margin-top: 20px;
}

@media only screen and (max-width: 360px) {
  .MuiPaper-root {
    margin: auto;
    margin-top: 40px;
    width: 370px;
  }
}

@media only screen and (max-width: 412px) {
  .MuiPaper-root {
    margin: auto;
    margin-top: 40px;
    width: 400px;
  }
}

@media only screen and (max-width: 540px) {
  .MuiPaper-root {
    margin: auto;
    margin-top: 40px;
    
  }
}
@media only screen and (max-width: 912px) {
  .MuiPaper-root {
    margin: auto;
    margin-top: 40px;
    
  }
}